<div class="content">
<div *ngIf="restaurant">
  <h2>Write a review for {{restaurant.name}}</h2>
  <p class="red" *ngFor="let e of errors | keyvalue">
    {{e.value}}
  </p>
  <form *ngIf="newReview" #newForm="ngForm" (submit)="submitButton()" autocomplete="off">
    <p>
      Your Name: <br>
      <input type="text" name="newReview.name" [(ngModel)]="newReview.name" (keyup)="nameOnKeyUp($event)" required minlength=3 #name="ngModel"/>
      <span class="red">{{nameError}}</span>
    </p>
    <p>
      Stars: 
      <select name="newReview.stars" [(ngModel)]="newReview.stars">
        <option value="1">1 star</option>
        <option value="2">2 stars</option>
        <option value="3">3 stars</option>
        <option value="4">4 stars</option>
        <option value="5">5 stars</option>
      </select>
    </p>
    <p>
        Your Review:<br>
         <input type="text" name="newReview.review" [(ngModel)]="newReview.review" (keyup)="reviewOnKeyUp($event)" required minlength=3 #review="ngModel"/>
         <span class="red">{{reviewError}}</span>
    </p>
    <p>
      <input type="submit" value="Submit" [disabled]="newForm.form.invalid" class="btn btn-secondary">
      <button (click)="cancelButton()" class="btn btn-danger">Cancel</button>
    </p>
  </form>
</div>
</div>