<div class="content">
<div *ngIf="restaurant">
  <h2>Reviews for {{restaurant.name}}</h2>
  <p><button (click)="newButton()" class="btn btn-light">New Review</button><button (click)="backButton()" class="btn btn-secondary">Go Back</button></p>
  <table class="table">
    <tr>
      <th style="width: 30%">Customer</th>
      <th style="width: 10%">Stars</th>
      <th class="text-center" style="width: 60%">Description</th>
    </tr>
    <tr *ngFor="let r of restaurant.reviews">
      <td>{{r.name}}</td>
      <td>{{r.stars}}</td>
      <td>{{r.review}}</td>
    </tr>
  </table>
</div>
</div>